<nav class="navbar">
    <!-- child templates -->
    <a href="{% url 'listings:index' %}">Bike Finder</a>
    <a href="{% url 'listings:all_listings' %}">Listings</a>
    <a href="{% url 'listings:new_listing' %}">New Listing</a>

    {% if user.is_authenticated %}
    <a href="{% url 'listings:my_listings' %}">My listings</a>
    {{ user.username }} -
    <a href="{% url 'users:log_out' %}">Logout</a>
    {% else %}
    <a href="{% url 'users:login' %}">Login</a>
    <a href="{% url 'users:register' %}">Register</a>
    {% endif %}
</nav>

<!-- empty block tags to be filled in from child templates -->
{% block content %} {% endblock content %}
